<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baizhi.dao.UserDao">
    <select id="selectActiveCount" resultType="java.lang.Integer">
        select COUNT(*)
        FROM user
        WHERE DATEDIFF(NOW(), create_date) &lt; #{day} * 7
    </select>
    <select id="selectMale" resultType="java.lang.Integer">
        select COUNT(*) count,province name
        from `user`
        WHERE sex=1
        GROUP BY province
    </select>

    <select id="selectFeMale" resultType="java.lang.Integer">
        select COUNT(*) count,province name
        from `user`
        WHERE sex=0
        GROUP BY province
    </select>


</mapper>